In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [185]:
data_train=pd.read_excel('Data_Train.xlsx')
data_test=pd.read_excel('Test_set.xlsx')

In [186]:
data_train.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [187]:
data_test.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [188]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [189]:
data_train.shape

(10683, 11)

In [190]:
data_test.shape

(2671, 10)

In [191]:
data_train['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [192]:
data_test['Airline'].unique()

array(['Jet Airways', 'IndiGo', 'Multiple carriers', 'Air Asia',
       'Air India', 'Vistara', 'SpiceJet', 'Vistara Premium economy',
       'GoAir', 'Multiple carriers Premium economy',
       'Jet Airways Business'], dtype=object)

In [193]:
data_train['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [194]:
data_test['Source'].unique()

array(['Delhi', 'Kolkata', 'Banglore', 'Mumbai', 'Chennai'], dtype=object)

In [195]:
data_train['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [196]:
data_test['Destination'].unique()

array(['Cochin', 'Banglore', 'Delhi', 'New Delhi', 'Hyderabad', 'Kolkata'],
      dtype=object)

In [197]:
data_train['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [198]:
data_test['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Long layover', 'Business class',
       'Change airports'], dtype=object)

In [199]:
data_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [200]:
data_test.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [201]:
data_train.dropna(inplace=True)

In [202]:
data_test.dropna(inplace=True)

In [203]:
data_train["Journey_day"]=pd.to_datetime(data_train.Date_of_Journey,format="%d/%m/%Y").dt.day

In [204]:
data_test["Journey_day"]=pd.to_datetime(data_test.Date_of_Journey,format="%d/%m/%Y").dt.day

In [205]:
data_train['Journey_Month']=pd.to_datetime(data_train.Date_of_Journey,format="%d/%m/%Y").dt.month

In [206]:
data_test['Journey_Month']=pd.to_datetime(data_test.Date_of_Journey,format="%d/%m/%Y").dt.month

In [207]:
data_train.drop(["Date_of_Journey"],axis=1,inplace=True)
data_test.drop(["Date_of_Journey"],axis=1,inplace=True)

In [208]:
data_train['Dep_Hour']=pd.to_datetime(data_train['Dep_Time']).dt.hour
data_train['Dep_Mins']=pd.to_datetime(data_train['Dep_Time']).dt.minute
data_test['Dep_Hour']=pd.to_datetime(data_train['Dep_Time']).dt.hour
data_test['Dep_Mins']=pd.to_datetime(data_train['Dep_Time']).dt.minute

In [209]:
data_train.drop('Dep_Time',axis=1,inplace=True)
data_test.drop('Dep_Time',axis=1,inplace=True)

In [210]:
data_train['Arrival_Hour']=pd.to_datetime(data_train['Arrival_Time']).dt.hour
data_test['Arrival_Hour']=pd.to_datetime(data_test['Arrival_Time']).dt.hour

In [211]:
data_train['Arrival_minutes']=pd.to_datetime(data_train['Arrival_Time']).dt.minute   
data_test['Arrival_minutes']=pd.to_datetime(data_test['Arrival_Time']).dt.minute

In [212]:
data_train.drop('Arrival_Time',axis=1,inplace=True)
data_test.drop('Arrival_Time',axis=1,inplace=True)

In [213]:
duration=list(data_train['Duration'])
for i in range(len(duration)):
    if len(duration[i].split()) !=2:
        if "h" in duration[i]:
            duration[i]=duration[i].strip()+" 0m"
        else:
            duration[i]="0h "+duration[i]
            
duration_hours=[]
duration_mins=[]
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split(sep="h")[0]))
    duration_mins.append(int(duration[i].split(sep="m")[0].split()[-1]))

In [214]:
duration_test=list(data_test['Duration'])
for i in range(len(duration_test)):
    if len(duration_test[i].split()) !=2:
        if "h" in duration_test[i]:
            duration_test[i]=duration_test[i].strip()+" 0m"
        else:
            duration_test[i]="0h "+duration_test[i]
            
duration_hourst=[]
duration_minst=[]
for i in range(len(duration_test)):
    duration_hourst.append(int(duration_test[i].split(sep="h")[0]))
    duration_minst.append(int(duration_test[i].split(sep="m")[0].split()[-1]))

In [215]:
data_train['Duration_hours']=duration_hours
data_train['Duration_mins']=duration_mins
data_test['Duration_hours']=duration_hourst
data_test['Duration_mins']=duration_minst

In [216]:
data_train.drop("Duration",axis=1,inplace=True)
data_test.drop("Duration",axis=1,inplace=True)

In [217]:
Airline=data_train[['Airline']]
Airline=pd.get_dummies(Airline,drop_first=True)
Airline.head(2)

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0

In [218]:
Airline_test=data_test[['Airline']]
Airline_test=pd.get_dummies(Airline_test,drop_first=True)
Airline_test.head(2)

,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Vistara,Airline_Vistara Premium economy
0,0,0,0,1,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0

In [219]:
Source=pd.get_dummies(data_train.Source,drop_first=True)
Source.head(2)

   Chennai  Delhi  Kolkata  Mumbai
0        0      0        0       0
1        0      0        1       0

In [220]:
Source_test=pd.get_dummies(data_test.Source,drop_first=True)
Source_test.head(2)

   Chennai  Delhi  Kolkata  Mumbai
0        0      1        0       0
1        0      0        1       0

In [221]:
dest=pd.get_dummies(data_train[['Destination']],drop_first=True)
dest.head(2)

,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,0,0,0,1
1,0,0,0,0,0

In [222]:
dest_test=pd.get_dummies(data_test[['Destination']],drop_first=True)
dest_test.head(2)

,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,0,0,0,0
1,0,0,0,0,0

In [223]:
data_train.drop(['Route','Additional_Info'],axis=1,inplace=True)
data_test.drop(['Route','Additional_Info'],axis=1,inplace=True)

In [224]:
data_train.replace({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4},inplace=True)
data_test.replace({"non-stop":0,"1 stop":1,"2 stops":2,"3 stops":3,"4 stops":4},inplace=True)

In [225]:
data_train.drop(['Airline','Source','Destination'],axis=1,inplace=True)
data_test.drop(['Airline','Source','Destination'],axis=1,inplace=True)

In [226]:
final_train=pd.concat([data_train,Airline,Source,dest],axis=1)
final_test=pd.concat([data_test,Airline_test,Source_test,dest_test],axis=1)

In [227]:
pd.set_option('display.max_columns',None)

In [228]:
final_train.head(2)

,Total_Stops,Price,Journey_day,Journey_Month,Dep_Hour,Dep_Mins,Arrival_Hour,Arrival_minutes,Duration_hours,Duration_mins,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Chennai,Delhi,Kolkata,Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,22,20,1,10,2,50,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2,7662,1,5,5,50,13,15,7,25,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [229]:
final_test.head(2)

,Total_Stops,Journey_day,Journey_Month,Dep_Hour,Dep_Mins,Arrival_Hour,Arrival_minutes,Duration_hours,Duration_mins,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Vistara,Airline_Vistara Premium economy,Chennai,Delhi,Kolkata,Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,6,6,22,20,4,25,10,55,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
1,1,12,5,5,50,10,20,4,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [230]:
final_train.shape,final_test.shape

((10682, 30), (2671, 28))

In [231]:
final_test['Airline_Trujet']=0

In [232]:
final_test.shape

(2671, 29)

In [233]:
final_train.columns

Index(['Total_Stops', 'Price', 'Journey_day', 'Journey_Month', 'Dep_Hour',
       'Dep_Mins', 'Arrival_Hour', 'Arrival_minutes', 'Duration_hours',
       'Duration_mins', 'Airline_Air India', 'Airline_GoAir', 'Airline_IndiGo',
       'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Chennai', 'Delhi', 'Kolkata', 'Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi'],
      dtype='object')

In [234]:
X=final_train.loc[:,['Total_Stops',  'Journey_day', 'Journey_Month', 'Dep_Hour',
       'Dep_Mins', 'Arrival_Hour', 'Arrival_minutes', 'Duration_hours',
       'Duration_mins', 'Airline_Air India', 'Airline_GoAir', 'Airline_IndiGo',
       'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Chennai', 'Delhi', 'Kolkata', 'Mumbai', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi']]

In [235]:
y=final_train.iloc[:,1]

In [236]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=0)

In [238]:
from sklearn.ensemble import RandomForestRegressor
reg=RandomForestRegressor()
reg.fit(X_train,y_train)
reg.score(X_train,y_train)

0.9526473515679641

In [239]:
y_pred=reg.predict(X_test)

In [240]:
from sklearn.metrics import r2_score
rsquare=r2_score(y_test,y_pred)

In [241]:
rsquare

0.7988754074759908

In [242]:
predictions=reg.predict(final_test)

In [247]:
print(predictions)

[13822.79116667  4979.25       15204.1215     ... 16708.50616667
 12855.12        7734.94      ]

In [249]:
prediction = pd.DataFrame(predictions, columns=['predictions']).to_excel('Test_set.xlsx')